* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #979797;
}

#main {
    width: 92%;
    max-width: 1400px;
    /* 外距：上下 左右 */
    margin: 0 auto;
    height: 100vh;
}

/* 導覽列 */
#navigation {
    padding: 40px 0 0 10px;
    overflow: hidden;
    height: 10vh;
}
#logo {
    float: left;
    font-size: 1.5em;
    letter-spacing: 5px;
}
#logo a {
    text-decoration: none;
    color: #fbb400;
}
#logo a::before {
    content: "{";
    vertical-align: 3.5px;
    font-size: 0.7em;
    font-weight: 100;
}
#logo a::after {
    content: "}";
    vertical-align: 3.5px;
    font-size: 0.7em;
    font-weight: 100;
}
#nav-bar {
    float: right;
    vertical-align: bottom;
}
#nav-bar a {
    text-decoration: none;
    margin-left: 35px;
    color: #fbb400;
    display: inline-block;
    font-weight: 600;
    transition: 0.5s;

    /* 定位：相對定位 (父元素) */
    position: relative;
}
#nav-bar a:hover {
    color: #fbb400;
}
#nav-bar a:hover::before {
    background-color: #fbb400;
}
#nav-bar a::before {
    content: "";
    /* 定位：絕對定位 (子元素) */
    position: absolute;
    background-color: #fbb400;
    width: 98%;
    height: 1px;
    /* 上下 左右 */
    margin: 0 1%;
    bottom: -3px;
}

/* 作品區 */
.work-img img {
    position: absolute;  
    transition: none;
}
.work-img {
    background-color: #f1e2c5;
    position: relative;
}
.work-a-bg img {
    width: 140%;
    max-width: 700px;
    left: -60%;
    top: 10%;
}
.work-b-bg img {
    width: 100%;
    max-width: 400px;
    left: -40%;
    top: 10%;
}
.work-c-bg img {
    width: 100%;
    max-width: 400px;
    left: -40%;
    top: 0;
}

.work {
    display: grid !important;
    grid-template-columns: 60% 40%;
    height: 82vh;
    padding: 20px 0;
}

.work-description {
    padding-top: 50px;
}
.work-description p {
    padding: 10px 0;
    margin-top: 30px;
    line-height: 2.5;
    width: 300px;
}
.work-description h1 {
    font-weight: 700;
    font-size: 7em;
    letter-spacing: 12px;
}

.work-description .button {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.7s;
}
.work-description .button:hover {
    padding-left: 30px;
}

.work-description hr {
    height: 3px;
    width: 300px;
    background-color: #fbb400;
    border: none;
}

.work-a * {
    color: #fbb400;
}
.work-a-bg {
    background-color: #fbb400;
}
.work-b * {
    color: #3b3331;
}
.work-b-bg {
    background-color: #3b3331;
}
.work-c * {
    color: #eb5e00;
}
.work-c-bg {
    background-color: #eb5e00;
}

/* 作品導覽列 */
#work-nav {
    height: 3vh;
    display: flex;
    justify-content: space-between;
}
#work-nav a {
    padding: 5px 0;
    text-decoration: none;
    word-spacing: 10px;
    position: relative;
}
#work-nav a:nth-of-type(1):hover {
    color: #fbb400;
}
#work-nav a:nth-of-type(2):hover {
    color: #3b3331;
}
#work-nav a:nth-of-type(3):hover {
    color: #fbb400;
}
#work-nav a:nth-of-type(1)::after {
    background-color: #fbb400;
}
#work-nav a:nth-of-type(2)::after {
    background-color: #3b3331;
}
#work-nav a:nth-of-type(3)::after {
    background-color: #fbb400;
}
#work-nav a::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #979797;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: 0.3s;
}

#work-nav a:hover::after {
    width: 100%;
}

/* 版權聲明 */
footer {
    height: 3vh;
    padding: 10px 0;
    text-align: center;
    font-size: 0.7em;
    font-weight: 100;
    letter-spacing: 3px;
}

/* slick 外掛 */
.slick-dots {
    position: static;
    height: 3vh;
    display: flex;
    justify-content: space-between;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots li {
    width: 100px;
}

.slick-dots li:nth-child(1) button:before {
    content: "PAGE-A";
    font-size: 20px;
    color: #fbb400;
    width: 100px;
} 

.slick-dots li:nth-child(2) button:before {
    content: "PAGE-B";
    font-size: 20px;
    color: #fbb400;
    width: 100px;
} 

.slick-dots li:nth-child(3) button:before {
    content: "PAGE-C";
    font-size: 20px;
    color: #fbb400;
    width: 100px;
} 

.slick-dots li button:before {
    opacity: 1;
    color: #eee !important;
}

li.slick-active:nth-child(1) button:before{
    color: #fbb400 !important;
}

li.slick-active:nth-child(2) button:before{
    color: #3b3331 !important;
}

li.slick-active:nth-child(3) button:before{
    color: #eb5e00 !important;
}

.slick-dots li:before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 2px;
    bottom: -5px;
    left: 12px;
    width: 0;
    transition: 0.3s;
}

.slick-dots li:hover:before {
    width: 77px;
}

.slick-dots li:nth-child(1):before {
    background-color: #fbb400;
}
.slick-dots li:nth-child(2):before {
    background-color: #3b3331;
}
.slick-dots li:nth-child(3):before {
    background-color: #eb5e00;
}

.slick-dots li.slick-active:before {
    width: 77px;
}